<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
		</compilation>
		<customErrors mode="Off" />
	</system.web>
	<connectionStrings>
		<!-- MDPDIGITAL\MSSQL -->
		<!-- WIN-VHN41RIRKBE\MSSQL -->

		<!--<add name="Conn" connectionString="Data Source=103.251.24.54\sql2k8;Initial Catalog=snowline;User Id=snow;Password=snow2018;" providerName="System.Data.SqlClient" />-->

		<!--To connect with Transport DB-->
		<add name="Conn" connectionString="Data Source=.;Initial Catalog=DB.Restaurant; Integrated Security=True" providerName="System.Data.SqlClient" />

		<!--To connect with SnowColdStorage DB-->
		<!-- <add name="Conn" connectionString="Data Source=103.251.24.54\sql2k8;Initial Catalog=snowline; Integrated Security=True" providerName="System.Data.SqlClient" /> -->
		<!--<add name="Conn" connectionString="Data Source=103.251.24.54\sql2k8;Initial Catalog=saisports;User Id=saisports;Password=India@2021;" providerName="System.Data.SqlClient" />-->


	</connectionStrings>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="index.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
				<add value="index.php" />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>